*~
*.o
*.so
*.pdf
*.tar.gz
.ipynb_checkpoints
.Rproj.user
/.Rhistory
/.RData
/update_remotes.sh
/inst/doc
/vignettes/*.aux
/vignettes/*.bbl
/vignettes/*.blg
/vignettes/*.log
/vignettes/*.out
/vignettes/*.tex
/vignettes/*.toc
/vignettes/*_files/
