*~
*.o
*.so
*.dll
*.pdf
*.tar.gz
.ipynb_checkpoints
.Rproj.user
*.Rcheck
__pycache__/
/.Rhistory
/.RData
/*.kdev4
/.kdev4/
/update_remotes.sh
/build/
/playground/
/inst/doc/.build.timestamp
/vignettes/.build.timestamp
/inst/doc/*.aux
/vignettes/*.aux
/inst/doc/*.bbl
/vignettes/*.bbl
/inst/doc/*.blg
/vignettes/*.blg
/inst/doc/*.log
/vignettes/*.log
/inst/doc/*.out
/vignettes/*.out
/inst/doc/*.tex
/vignettes/*.tex
/inst/doc/*.toc
/vignettes/*.toc
/inst/doc/*.fls
/vignettes/*.fls
/inst/doc/*.html
/vignettes/*.html
/inst/doc/*_files/
/vignettes/*_files/
